@font-face {
	font-family: main;
	src: url(../fonts/georgia_italic.ttf);
}

@font-face {
	font-family: reg;
	src: url(../fonts/georgia.ttf);
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background: #CFD1C3;
    width: 1440px;
    height: 100%;
}

.logo{
	z-index: 2;
	position: fixed;
}


.menuicon {
	position: fixed;
	left: 100%;
	z-index: 1;
}


.menu {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	display: none;
}







.text1 {
	font-family: "poppins";
	font-weight: 400;
	font-size: 20pt;
	line-height: 14pt;
	color: #305E2D;
	text-align: left;
	padding-bottom: 30px;
}

.bar {
	width: 125px;
	height: 4px;
	background-color: #305E2D;
	margin-bottom: 30px;
}

.text2 {
	font-family: reg;
	font-size: 13pt;
	line-height: 25pt;
	color: #305E2D;
	text-align: left;
}

.text2_italic {
	font-family: main;
	font-size: 13pt;
	line-height: 8pt;
	color: #305E2D;
	text-align: left;
}

.text1_w {
	font-family: "poppins";
	font-weight: 400;
	font-size: 20pt;
	line-height: 14pt;
	color: white;
	text-align: left;
	padding-bottom: 30px;
}

.bar_w {
	width: 125px;
	height: 4px;
	background-color: white;
	margin-bottom: 30px;
}

.text2_w {
	font-family: reg;
	font-size: 13pt;
	line-height: 25pt;
	color: white;
	text-align: left;
}

.number {
	font-family: "poppins";
	font-weight: 400;
	font-size: 20pt;
	line-height: 14pt;
	color: #305E2D;
	text-align: left;
	padding-bottom: 30px;
	top: 49px;
	right: 40px;
	position: relative;

}


.numbergroup {
	font-family: "poppins";
	font-weight: 400;
	font-size: 30pt;
	text-align: left;
}













.first_section {
	width: 100%;
	height: 840px;
	background-color: #CFD1C3;
}

.sevenform {
	position: relative;
	top: 100px;
	left: 100px;
}

.leaf {
	position: absolute;
	right: -5px;
	bottom: -5px;
}

.textgroup {
	position: absolute;
	top: 300px;
	left: 850px;
	z-index: 1;
}


.number1 {
	position: absolute;
	top: 120px;
	left: 400px;
	cursor: pointer;
	color: #305E2D;
}

.number1:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number2 {
	position: absolute;
	top: 250px;
	left: 520px;
	cursor: pointer;
	color: #305E2D;
}

.number2:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number3 {
	position: absolute;
	top: 430px;
	left: 470px;
	cursor: pointer;
	color: #305E2D;
}

.number3:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number4 {
	position: absolute;
	top: 510px;
	left: 300px;
	cursor: pointer;
	color: #305E2D;
}

.number4:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number5 {
	position: absolute;
	top: 430px;
	left: 140px;
	cursor: pointer;
	color: #305E2D;
}

.number5:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number6 {
	position: absolute;
	top: 250px;
	left: 100px;
	cursor: pointer;
	color: #305E2D;
}

.number6:hover {
	color: #E4A034;
	transition: 0.5s;
}

.number7 {
	position: absolute;
	top: 120px;
	left: 230px;
	cursor: pointer;
	color: #305E2D;
}

.number7:hover {
	color: #E4A034;
	transition: 0.5s;
}











.second_section {
	width: 100%;
	height: 840px;
	background-color: #E9E9E1;
	position: absolute;
	top: 840px;
}

.one {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup2 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.third_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 1680px;
	background-color: #CFD1C3;
}

.two {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup3 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.fourth_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 2520px;
	background-color: #E9E9E1;
}

.three {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup4 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.fifth_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 3360px;
	background-color: #CFD1C3;
}

.four {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup5 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.sixth_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 4200px;
	background-color: #E9E9E1;
}

.five {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup6 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.seventh_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 5040px;
	background-color: #CFD1C3;
}

.six {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup7 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}








.eighth_section {
	width: 100%;
	height: 840px;
	position: absolute;
	top: 5880px;
	background-color: #E9E9E1;
}

.seven {
	position: relative;
	top: 100px;
	left: 100px;
}

.textgroup8 {
	position: absolute;
	width: 440px;
	left: 850px;
	top: 25%;
}
















.nineth_section {
	position: absolute;
	background-color: #E9E9E1;
	top: 6720px;
	width: 1440px;
	height: 540px;
}

.circle_footer{
	position: relative;
	left: 539px;
	top: 15%;
}

.group_next{
	top: 215px;
	left: 45%;
	position: absolute;
	z-index: 3;
}

.next {
	font-family: main;
	font-size: 16pt;
	line-height: 25pt;
	color: #305E2D;
	text-align: left;
	top: 50%;
	left: 50%;
}

.bar_y{
	width: 44px;
	height: 3px;
	background-color: #E4CC34;
	margin-bottom: 30px;
}



.go {
	font-family: "poppins";
	font-weight: 400;
	font-size: 20pt;
	line-height: 14pt;
	color: #305E2D;
	text-align: left;
	text-decoration: none;
}

.group_go{
	position: absolute;
	left: 50%;
	top: 223px;
}

.arrow{
	position: relative;
	top: 20px;
}











.footer {
	width: 100%;
	height: 300px;
	background-color: #384837;
	position: absolute;
	top: 7260px;
}

.designed {
	font-family: "poppins"; 
	font-weight: 300;
	color: white;
	font-size: 12pt;
	text-align: right;
	line-height: 10pt;
	margin-top: 220px;
	margin-right: 50px;

}

.logofooter {
	position: absolute;
	right: 50px;
	top: 65px;
	z-index: 1;
}

.type_d {
	font-family: "poppins";
	font-size: 16pt;
	padding-left: 60px; 
	top: -25px;
	left: 10px;
	color: white;
	text-align: left;
	position: relative;
	text-decoration: none;

}


